// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FONTAWESOME
@import '~@fortawesome/fontawesome-free/css/all.min.css';

table, tr, td, th {

  background: purple;
  border: 2px solid red;
  color: white;
}
